@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto&display=swap');

.heading {
  font-size: calc(1.2vh + 1.2vw);
  color: rgb(53, 53, 53);
  padding: 2px 10px;
  font-family: 'Lora', serif;
  letter-spacing: 0.3px;
}

.testimonial {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-top: -10px;
  z-index: 2;
}