.resetFormContainer{
    width: 100%;
    display: flex;
    background: white;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.FormFill span{
  color: black;
  font-size: 2rem;
}
.resetForm_span{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;

}

.resetForm_input{
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.resetForm_input input{
    width: 100%;
    background: rgb(221, 227, 238);
    border-color: transparent;
    height: 4.5vh;
    border-radius: 6px;
}
.resetForm_btn{
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.resetForm_btn button{
    width: 100%;
    background: rgb(180, 48, 48);
    color: white;
    border-color: transparent;
    border-radius: 5px;
    padding: 6px;
    cursor: pointer;
}