.modal {
  position: fixed;
  width: 90%;
  left: 5%;
  top: 5vh;
  background: rgb(241, 168, 168);
  border-radius: 5px;
  z-index: 1000;
  
}
.modal_header{
  display: flex;
  justify-content: space-between;
}
.modal_header h1 {
  font-size: 1.5rem;
  color: rgb(189, 67, 67);
  margin: 1rem;
 
}
.modal_header i{
  font-size: 2rem;
  cursor: pointer;
  color: rgb(209, 75, 75);
}
.modal_content {
  padding: 0.4rem;
}
.modal_actions {
  padding: 0.4rem;
  text-align: right;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: 30vw;
  }
}
