.navbar {
    background: rgba(0, 0, 0, 0.9);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    width: 100%;
    position: fixed;
    z-index: 99;
  }

  .menu-icon {
    display: none;
    font-size: 25px;
    cursor: pointer;
  }
  .menu-icon .onn {
    transform: rotate(360deg);
    transition: all 0.2s ease-in-out;
  }
  
  .menu-icon .off {
    transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
  }
  
  .logo {
    width: 50px;
    height: 50px;
}

.logo img {
    width: 100%;
    height: 100%;
}
  
  .logo font {
    color: #fff;
  }
  
  .menu-list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
    
  .menu-list li a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    padding: 5px 10px;
    margin-right: 5vw;
  }
  .menu-list li button {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    padding: 5px 10px;
    margin-right: 2vw;
  }
  
  .menu-list li a:hover,
  .menu-list li a.active {
    background-color: #fff;
    border-radius: 2px;
    color: #000;
    transition: all 0.5s ease-in-out;
  }
  
  @media screen and (max-width: 732px) {
    .logo {
      width: 40px;
      height: 40px;
  }
    .menu-icon {
      display: block;
    }
    .menu-list {
      flex-direction: column;
      justify-content: space-evenly;
      width: 100%;
      height: calc(100vh - 60px);
      position: absolute;
      background: rgba(0, 0, 0, 0.7);
      padding: 10px;
      right: 0;
      top: 45px;
      transition: all 0.5s ease-in-out;
    }
  
    .menu-list li {
      width: 100%;
      text-align: center;
      font-size: 20px;
    } 
    .menu-list li button {
      text-align: center;
      font-size: 20px;
    }   
    .menu-list li a,
    .menu-list li:last-child a {
      width: 300px;
      display: block;
      margin: auto;
    }
  
    .menu-list.close {
      right: -100%;
      transition: all 0.5s ease-in-out;
    }
  }