.navbar {
  background-color: #fafaf6;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  color: rgb(68, 68, 68);
  width: 100%;
  position: fixed;
  z-index: 99;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  height: 80px;
}

.icon {
  margin-left: 15px;
  cursor: pointer;
  position: relative;
  left: -3rem;

}

.iconImg {
  width: 45px;
  height: 40px;
  position: relative;
  
  background-color: #fafaf6;
  border-radius: 10px;
}

.iconCounter {
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -5px;
  right: -5px;
}
.notifications {
  position: absolute;

  border: 1px solid black;
  border-top: transparent;
  background: white;
  width: 244px;

  text-align: center;
  font-size: 1rem;
  top: 4rem;
  color: black;
  border-radius: 5px;
  box-sizing: border-box;
  left: 82vw;
  
}

.notification {
  padding: 5px;
  cursor: pointer;
  font-size: 0.7rem;
  width: 100%;
  background: rgb(231, 140, 152);
  border-bottom: 1px solid black;
}
.notification:hover{
  background: rgb(228, 109, 124);
}


.menu-icon {
  display: none;
  font-size: 25px;
  cursor: pointer;
}

.menu-icon .onn {
  transform: rotate(360deg);
  transition: all 0.2s ease-in-out;
}

.menu-icon .off {
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;
}

.lifeblood {
  font-weight: 1000;
  font-size: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
  width: 60px;
  height: 60px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.logo-part {
  display: flex;
  align-items: center;
}

.menu-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list li:nth-child(1) a,
.menu-list li:nth-child(2) a,
.menu-list li:nth-child(3) a,
.menu-list li:nth-child(4) a {
  text-decoration: none;
  color: rgb(68, 68, 68);
  font-weight: 300;
  border-radius: 50px;
  padding: 5px 20px;
  margin-right: 4vw;
  background-color: (241, 241, 241);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}


.menu-list li a.login_register {
  color: white;
  font-size: 16px;

  margin-left: 2rem;
  border: none;
  background-color: rgb(218, 51, 60);
  font-weight: 500;
  padding: 5px 20px;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgb(110, 110, 110);
  text-align: center;
  cursor: pointer;
}

.menu-list li a.login_register:hover {
  background-color: rgb(218, 51, 60);
  color: white;
  font-size: 15px;
}



.menu-list li button {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  padding: 8px 20px;
  margin-right: 2vw;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  font-size: 16px;
  transition: all 0.1s ease-in;
}


.menu-list li button:hover,
.menu-list li button:active {
  color: red;
  background-color: white;
}

.menu-list li:nth-child(1) a:hover,
.menu-list li:nth-child(1) a.active {
  background-color: rgb(71, 71, 71);
  color: rgb(255, 255, 255);
  transition: all 0.1s ease-in-out;
}

.menu-list li:nth-child(2) a:hover,
.menu-list li:nth-child(2) a.active {
  background-color: rgb(71, 71, 71);
  color: rgb(255, 255, 255);
  transition: all 0.1s ease-in-out;
}

.menu-list li:nth-child(3) a:hover,
.menu-list li:nth-child(3) a.active {
  background-color: rgb(71, 71, 71);
  color: rgb(255, 255, 255);
  transition: all 0.1s ease-in-out;
}

.menu-list li:nth-child(4) a:hover,
.menu-list li:nth-child(4) a.active {
  background-color: rgb(71, 71, 71);
  color: rgb(255, 255, 255);
  transition: all 0.1s ease-in-out;
}




@media screen and (max-width:1150px) {
  .logo {
    width: 60px;
    height: 60px;
  }

  .menu-icon {
    display: block;
  }

  .menu-list {
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: calc(100vh - 60px);
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    right: 0;
    top: 45px;
    transition: all 0.5s ease-in-out;
  }

  .menu-list li {
    text-align: center;
    font-size: 18px;
    display: inline-block;
    background-color: white;
    border-radius: 50px;
    object-fit: cover;
    width: 250px;
  }

  .menu-list li:active,
  .menu-list li:hover {
    background-color: transparent;
    color: black;
    border-radius: 50px;
  }

  .menu-list li button {
    text-align: center;
    font-size: 18px;
    width: 100%;
  }

  .menu-list li a,
  .menu-list li:last-child a {
    width: 100%;
    display: block;
    margin: auto;
    object-fit: cover;
    background-color: transparent;
  }

  .menu-list li.bakchodi {
    background-color: rgb(218, 51, 60);
    width: 300px;
  }

  .menu-list li a.login-register {
    width: 100%;
    margin: 0%;
    padding: 8px;
  }

  .menu-list.close {
    right: -100%;
    transition: all 0.5s ease-in-out;
  }
}