.NewPassword_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.NewPassword_container form{
    background: transparent;
}
.newPassword span{
  font-size: 1.4rem;
  font-family: monospace;
}
.newPassword input{
    border-radius: 6px;
    border-color: black;
}
.newPassword button{
    width: 8rem;
    padding: 5px;
    border-color: transparent;
    border-radius: 6px;
    box-shadow: 0.5rem 0.5rem rgb(43, 42, 42);
    cursor: pointer;
}
.newPassword button:hover{
    transition: 0.3s;
    transform: scale(0.94);
}