.resetPassword_container{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.resetPassword_container form{
    background: transparent;
}
.resetPassword_div span{
   font-size: 1.5rem;
   font-family: monospace;
   color: white;
}
.resetPassword_div input{
    border-radius: 6px;
    border-color: black;

}
.resetPassword_div button{
    width: 8rem;
    padding: 5px;
    border-color: transparent;
    border-radius: 6px;
    box-shadow: 0.5rem 0.5rem rgb(43, 42, 42);
    cursor: pointer;
}
.resetPassword_div button:hover{
    transition: 0.3s;
    transform: scale(0.94);
}