.DetailsForm_container{
    width: 70%;
    position: fixed;
    background: white;
    left: 15%;
    height: 50vh;
    top: 20vh;
    border-radius: 5px;
    z-index: 1000;

}
.DetailsForm-btn{
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;

}
.detailsForm_div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.DetailsForm-btn button{
    border-color: transparent;
    padding: 10px;
    font-size: 1.1rem;
    color: white;
    border-radius: 5px;
    width: 12rem;
    background: rgb(199, 84, 84);
    box-shadow: 0.5rem 0.5rem rgb(43, 42, 42);
}
.DetailsForm-btn button:hover{
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.04);
}
.DetailsForm_HeadLine{
    width: 100%;
    text-align: center;

}
.DetailsForm_HeadLine span{
    font-size: 1.5rem;
    font-family: serif;
    opacity: 0.8;
    color: rgb(20, 19, 20);
}
.DetailsFormWrap{
    width:100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
.DetailsForm_header{
    width: 100%;
    position: relative;
    top: -2rem;
    background: rgb(212, 79, 79);
    color: rgb(39, 38, 38);
}
.DetailsFormWrap .DetailsForm{
    position: relative;
    width: 80%;
    margin-bottom: 35px;
}
.DetailsFormWrap .DetailsForm.w1{
    width: 40%;
}
.DetailsFormWrap .DetailsForm input{
    width: 100%;
    resize: none;
    padding-top: 5px 0;
    outline: none;
    font-size: clamp(1rem,0.5rem,2rem);
    font-weight: 400;
    border-color: transparent;
    color: black;
    background: rgb(255, 255, 255);
    padding-right: 4px;
    border-bottom: 1px solid rgb(141, 137, 137);
  

}
.DetailsFormWrap .DetailsForm span{
    position: absolute;
    left: 0;
    padding: 6px 0;
    pointer-events: none;
    font-weight: 400;
    top: -0.5rem;
    font-size: 1rem;
    transition: 0.3s;
}
.DetailsFormWrap .DetailsForm input:focus ~ span,
.DetailsFormWrap .DetailsForm input:valid ~ span{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color: brown;
    border: transparent;

}
.DetailsFormWrap .DetailsForm input[type="submit"]{
    position: relative;
    cursor: pointer;
    background: cadetblue;
    color: white;
    border: none;
    max-width: 150px;
    padding: 12px;
    border-color: transparent;
}
