.navbar{
    text-align: center;
}

.navbar ul{
    background-color: grey;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li{
    float: left;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    list-style-type: none;
}

.navbar li:hover{
    background-color: darkgray;
}

.navbar li h1{
    padding: 3%;
    margin-left: 30px;
    margin-right: 30px;
}

.navbar li p{
    padding: 10px;
}
