.pindivpopup{
    text-align: left;
}

.pindivpopup h2{
    color: red;
    height:auto;
    width: 15vw;
}

.pindivpopup{
    background-color: gray;
    margin: 0;
    padding: 0;
}

.head{
    color: red;
}