.createFormFill {
  position: relative;
  top: 2rem;
  width: 19rem;
}
.facebookContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 50px;
  background: #21427c;
  position: relative;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  cursor: pointer;
  margin: 10px;
}
.facebookContainer img {
  width: 12.5%;
  height: 100%;
  object-fit: contain;
  left: 10px;
  border-radius: 3px;
  position: absolute;
}
.createForm1{
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  padding: 0 50px;
}
.createForm1 input{
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}
.createForm1 input:focus{
  outline: none;
  background-color: #e0d4fd;
}
.googleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 50px;
  background: #4385f4;
  position: relative;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  cursor: pointer;
  margin: 10px;
}

.googleContainer img {
  width: 12.5%;
  height: 100%;
  object-fit: contain;
  left: 10px;
  border-radius: 3px;
  position: absolute;
}
.create-Container {
  width: 100%;
  height: 165vh;
  background: white;
}
.google_login{
  width: 21%;
}
.createForm {
  position: relative;
  top: -4rem;
  height: 100%;
  width: 100%;
  background: #ffffff;
}
.createFormContainer {
  display: flex;
  min-height: 100%;
  width: 100%;

  justify-content: center;
  align-items: center;
}
.createFormFill span {
  position: relative;
  float: left;
  font-size: 1rem;
}
.createFormFill input {
  border: 1px solid rgb(161, 160, 160);
  border-radius: 5px;
}
.createFormFill button {
  position: relative;
  top: 0.5rem;
  width: 19rem;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  background: rgb(172, 36, 54);
  color: white;
  border-color: transparent;
  border-radius: 5px;
}
.span3 {
  position: relative;
  top: 0.2rem;
}
.login1google1 {
  cursor: pointer;
  width: 19rem;

  text-align: center;
}
